@use '@components/variables' as *;
@import '../../styles/Roboto/fonts.css';

.input  {
  --color-bg: #{$input-bg};
  --border-bg: #{$input-border};
  --color-text: #{$input-text};

  display: inline-flex;
  padding: $space-m $space-xs;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-bg);
  border-color: var(--border-bg);
  color: var(--color-text);

  border-radius: $border-radius;
  font-family: 'Roboto';
  line-height: 20px;
  width: 100%;

  div {
    display: inline-block;

  }

  input {

    outline: none;
    border: none;
    line-height: 20px;
    width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
    background: transparent;
    height: auto;

    &::placeholder {
      --color-text: #{$input-placeholder};
      color: var(--color-text);

      font-family: 'Roboto';

    }

    &:disabled {
      --color-bg: #{$input-bg-disabled};
      --border-bg: #{$input-border-disabled};
      --color-text: #{$input-text-disabled};
      background: var(--color-bg);
      border-color: var(--border-bg);
      color: var(--color-text);

      cursor: default;

    }
  }

  .afterSlot {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-left: $space-xxs;
  }


  &:focus-within {
    --color-bg: #{$input-bg-focus};
    --border-bg: #{$input-border-focus};
    --color-text: #{$input-text-focus};

    border: 1px solid #{$input-border-focus};
  }

}
