.button {
  --color-text: var(--button-primary-text);
  --color-bg: var(--button-primary-bg);

  min-height: 52px;
  padding: 17px var(--space-l);
  background-color: var(--color-bg);
  color: var(--color-text);
  border: none;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  cursor: pointer;

  div {
    display: inline-block;
    margin-right: var(--space-xxs);
  }

  &__loading {
    padding-block: var(--space-s);
    transition: background-color 0.3s ease;


    &_color {
      --color-bg: var(--button-primary-bg) !important;
      --color-text: var(--button-primary-text);


    }
  }


  &:hover:not(:disabled) {
    --color-text: var(--button-primary-text-hover);
    --color-bg: var(--button-primary-bg-hover);

  }


  &:active:not(:disabled) {
    --color-text: var(--button-primary-text-active);
    --color-bg: var( --button-primary-bg-active);

  }

  &:disabled {
    --color-text: var(--button-primary-text-disabled);
    --color-bg: var(--button-primary-bg-disabled);

    cursor: default;
  }

}
