@use '@components/variables' as *;
.app {
    min-width: 350px ;
    width: 100%;
    overflow: hidden;
}
.app__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #d9d9d9;
    padding-block: 16px;
    padding-inline: 7%;

}
.header__brand {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 24px;
    img {
        width: 32px;
        height: 32px;
    }

}
.header__name {
    cursor: default;
    user-select: none;
}

.header__user-avatar {
    img {
        width: 32px;
        height: 32px;
    }
}

