$text-primary: #000;
$text-secondary: #afadb5;
$text-accent: #1f883d;

$button-primary-bg: #1f883d;
$button-primary-text: #fff;
$button-primary-bg-hover: rgba(31, 136, 61, 0.7);
$button-primary-text-hover: #fff;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-text-disabled: #fff;
$button-primary-bg-active: #08531d;
$button-primary-text-active: #fff;

$input-text: #000;
$input-bg: #fff;
$input-border: #fff;
$input-placeholder: #afadb5;
$input-bg-focus: #fff;
$input-border-focus: #1f883d;
$input-text-focus: #000;
$input-bg-disabled: #fff;
$input-border-disabled: #fff;
$input-text-disabled: rgba(0, 0, 0, 0.2);

$checkbox-bg: #fff;
$checkbox-border: #fff;
$checkbox-bg-hover: #fff;
$checkbox-border-hover: #1f883d;
$checkbox-bg-disabled: rgba(255, 255, 255, 0.5);
$checkbox-border-disabled: rgba(255, 255, 255, 0);
$checkbox-check: #1f883d;
$checkbox-check-hover: #1f883d;
$checkbox-check-disabled: rgba(0, 0, 0, 0.2);

$card-image-bg: #d9d9d9;
$card-bg: #fff;

$dropdown-options-bg: #fff;

$border-radius: 6px;
$space-xl:24px;
$space-l:20px;
$space-m:16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$brand: #1f883d;

:root {

  --loader-bg: #1f883d;
  --brand-active: #08531d;
  --brand-hover: rgba(31, 136, 61, 0.7);
}