@use '@components/variables' as *;

.multidropdown {

  &__options {

    border-radius: $border-radius;
    margin-top: $space-xxs;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: $dropdown-options-bg;

    .multidropdown__items {

      .multidropdown__item {
        padding: $space-s $space-xs;

        p:hover {

          color: $text-secondary;
        }

      }
    }
  }
}
