.checkBox {
  $self: &;
  --checkbox-color: var(--checkbox-check);
  --color-bg: var(--checkbox-bg);
  --border-color: var(--checkbox-border);
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  cursor: pointer;

  &__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + #{$self}__icon {
      opacity: 1;
    }


  }
  &__icon {
    --checkbox-color: var(--checkbox-check);

    position: absolute;
    top: 6.5px;
    left: 5px;
    width: 30px;
    height: 30px;
    opacity: 0;
    margin: -1px;
    color: var(--checkbox-color);

    &_disabled {

      --checkbox-color: var(--checkbox-check-disabled);
      --color-bg: var(--checkbox-bg-disabled);
      --border-color: var(--checkbox-border-disabled);

    }

  }
  &:hover {
    --checkbox-color: var(--checkbox-check-hover);
    --color-bg: var(--checkbox-bg-hover);
    --border-color: var(--checkbox-border-hover);

  }

  &_disabled {
    pointer-events: none;
    --checkbox-color: var(--checkbox-check-disabled);
    --color-bg: var(--checkbox-bg-disabled);
    --border-color: var(--checkbox-border-disabled);

  }



}